# Arquivos de build
bin/
obj/
*.dll
*.exe
*.pdb
*.cache

# VS Code
.vscode/
.vs/

# Configurações locais
*.user
*.suo

# NuGet
*.nupkg
*.snupkg
*.nuspec
project.assets.json
project.nuget.cache

# Outros
*.log
ERP/obj/
ERP/bin/
